
build/
out/
cmake-build-*/


*.pb.cc
*.pb.h
*.grpc.pb.cc
*.grpc.pb.h


*.slo
*.lo
*.o
*.obj

*.gch
*.pch


*.so
*.dylib
*.dll


*.lai
*.la
*.a
*.lib


*.exe
*.out
*.app
basecamp_node


CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake


.vscode/
.idea/
*.swp
*.swo
*~


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


vcpkg/
conan/


/dev/shm/
